@import 'variables';

:host {
  .player-controller {
    height: 0;
    position: relative;
    display: flex;
    width: 100vw;
    overflow: scroll;
    background: rgba(0,0,0,0.8);

    &.has-players {
      height: 100%;
      transition: height 0.5s ease;
    }

    /deep/ .player {
      opacity: 0;
      display: none;
      height: 100%;
      align-items: center;
      justify-content: center;


      &.active{
        z-index: 1;
        opacity:1;
        display: flex;
      }

      &.upcoming{
        z-index: 2;
        display: flex;
      }
    }
  }
}
